.panels {
    margin-top: 50px;
}

.square {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
  }

.square a {
    color: white;
}
  
.myUL {
    margin: 0;
    padding: 0;
  }
  
.myUL li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .myUL li:nth-child(odd) {
    background: #f9f9f9;
  }

  .header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  
  .header:after {
    content: "";
    display: table;
    clear: both;
  }

  .text-left {
    text-align: left !important;
  }
  .rounded {
    border-radius: 25px;
  }